<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h4 class="masthead-brand">Cover</h4>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="#">Home
                </a>
                <a class="nav-link" href="#">Features</a>
                <a class="nav-link" href="https://t.me/Sublime_47">Contact</a>
            </nav>
        </div>
    </header>

    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
        <main role="main" class="inner cover">
            <div class="container" style="width: 30%">
                <form class="" th:method="POST" th:action="@{/register}" th:object="${newUser}">
                    <h3 class="form-signin-heading"><a href="/login">Login</a> or Sign up</h3>
                    <p>
                        <label for="email"></label>
                        <br>
                        <input type="email" th:field="*{email}" id="email" name="email" placeholder="email address"
                               class="form-control">
                    <div style="color:darkred" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"> Email error
                    </div>

                    <p>
                        <label for="username"></label>
                        <br>
                        <input type="text" th:field="*{username}" id="username" name="username"
                               placeholder="Nickname" class="form-control">
                    <div style="color:darkred" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
                        FirstName error
                    </div>

                    <p>

                    <p>
                        <label for="genderField"></label>
                        <br>
                    <div id="genderField"  th:replace="blocks/selectField :: select (Sex, sex, ${sex})">

                    </div>
                    <p>

                    <p>
                        <label for="name"></label>
                        <br>
                        <input type="text" th:field="*{firstName}" id="name" name="name"
                               placeholder="Your first name..." class="form-control">
                    <div style="color:darkred" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
                        FirstName error
                    </div>

                    <p>
                        <label for="surname"></label>
                        <br>
                        <input type="text" th:field="*{lastName}" id="surname" name="surname"
                               placeholder="Your last name..." class="form-control">
                    <div style="color:darkred" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">LastName
                        error
                    </div>

                    <p>
                        <label for="password"></label>
                        <br>
                        <input type="password" th:field="*{password}" id="password" name="password"
                               placeholder="Password" class="form-control">
                    </p>
                    <p>
                        <label for="passwordAgain"></label>
                        <br>
                        <input type="password" id="passwordAgain" name="passwordAgain"
                               placeholder="Make sure you remember it" class="form-control">
                    </p>
                    <button class="btn btn-lg btn-primary btn-block">Register now</button>
                </form>
            </div>
        </main>
    </div>
</div>
<footer class="mastfoot mt-auto">
    <div class="inner">
        <p>Project blog created by <a href="https://github.com/Atoiebai">Atoiebai</a>.</p>
    </div>
</footer>
</body>
</html>


