<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div>
    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">

        <table>
            <tr>
                <td class="lead mb-0 font-italic  font-weight-bold">Post author</td>
                <td class="lead mb-0 font-italic  font-weight-bold">&nbsp; Title</td>
            </tr>

            <tr th:each="post : ${listOfPosts}">
                <td>
                    <a class="lead mb-0 font-italic  font-weight-bold" th:href="'/user/'+${post.getPostId()}"
                       th:text="${post.getBlogUser().getFirstName()}"></a>
                </td>
                <td>
                    <a class="lead mb-0 font-italic  font-weight-bold" th:href="'/user/'+${post.getPostId()}"
                       th:text="${post.getTitle()}"></a>
                </td>
            </tr>
        </table>

    </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>