<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>New Post</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">

    <span id="principalIdentifier" sec:authentication property="principal.id"></span> |
     <span sec:authentication="principal.authorities"></span>


    <div class="container mt-5 mb-5">

        <p class="cover-heading lead">Remember that you don't need to enter your real name.</p>
        <p class="lead"> Here you can be whoever you want. But we need to know who you want to be</p>
        <p class="lead"> Please enter your name(real name , nickname or stay anonymous), and create your new post</p>

        <br>

        <form th:method="POST"  th:object="${newPost}" >

            <label>
                <input type="text" th:field="*{title}" name="blogTitle" placeholder="Title" class="form-control">
            </label>
            <br>
            <label>
                <textarea name="postDetails" th:field="*{themeOfPost}" placeholder="Type your post" class="form-control"></textarea>
            </label>
            <br>
            <button type="submit" class="btn btn-success">Add post</button>
        </form>
    </div>

</div>


<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>