<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="#{create.post.new}">New Post</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header th:insert="fragments/header :: header"></header>
<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">

    <div class="container mt-5 mb-5" style="text-align: center">

        <p class="cover-heading lead font-weight-bold" th:text="#{create.post.desc.chl}"> Want to write your thoughts? or maybe share
            with your memories?</p>
        <p class="lead font-weight-bold" th:text="#{create.post.desc.first}"> So , you came to the right place. Lets create something new
            and post it.</p>
        <p class="lead font-weight-bold" th:text="#{create.post.desc.second}"> Remember that your posts should not humiliate anyone or
            contain inappropriate content. </p>

        <br>
        <div class="row justify-content-center align-items-center">
            <form th:method="POST" th:object="${newPost}">
                <div th:replace="blocks/selectField :: select (Category, category, ${categories})"></div>
                <br>
                <label>
                    <input class="form-control" name="blogTitle" th:field="*{title}"
                           th:placeholder="#{create.post.title.placeholder}" type="text">
                </label>
                <label>
                    <input class="form-control" name="blogTitle" th:field="*{theme}"
                           th:placeholder="#{create.post.theme.placeholder}" type="text">
                </label>
                <br>
                <label>
                    <textarea class="form-control" name="postDetails"
                              th:field="*{body}"
                              th:placeholder="#{create.post.body.placeholder}"></textarea>
                </label>
                <br>
                <button class="btn btn-success" th:text="#{create.post.add}" type="submit">Add post</button>
            </form>
        </div>

    </div>
</div>

<footer th:insert="fragments/footer :: footer"></footer>
</body>
</html>