<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="UTF-8">
    <title>New Post</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="fragments/header :: header"></header>
<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">

    <div class="container mt-5 mb-5" style="text-align: center">

        <p class="cover-heading lead"> Want to write your thoughts? or maybe share with your memories?</p>
        <p class="lead"> So , you came to the right place. Lets create something new and post it.</p>
        <p class="lead"> Remember that your posts should not humiliate anyone or contain inappropriate content. </p>

        <br>
        <div class="row justify-content-center align-items-center">
            <form th:method="POST" th:object="${newPost}">
                 <div th:replace="blocks/selectField :: select (Category, category, ${categories})"></div>
                <label>
                    <input type="text" th:field="*{title}" name="blogTitle" placeholder="Title" class="form-control">
                </label>
                <br>
                <label>
                    <textarea name="postDetails" th:field="*{themeOfPost}" placeholder="Write your post"
                              class="form-control"></textarea>
                </label>
                <br>
                <button type="submit" class="btn btn-success">Add post</button>
            </form>
        </div>

    </div>
</div>


<footer th:insert="fragments/footer :: footer"></footer>
</body>
</html>