<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{get.user.about}">About</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="fragments/header :: header"></header>

<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div>
        <p class="font-weight-bold" th:text="#{get.user.about}"> about this User</p>
        <br>
        <p class="font-weight-bold" th:text="#{auth.username.placeholder}+ ': ' + ${user.getUsername()}"></p>
        <br>
        <p class="font-weight-bold"
           th:text="'Name: ' + ${user.getFirstName()} + ' '+ ${user.getLastName()}"></p>
        <br>
        <p class="font-weight-bold" th:text="#{get.user.blog-themes}"></p>
        <br>
        <p class="font-weight-bold" th:text="#{get.user.total-posts}"></p>
    </div>
</div>
<footer th:insert="fragments/footer :: footer"></footer>
</body>
</html>