<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${post.getTitle()}"></title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header th:insert="fragments/header :: header"></header>
<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div>
        <p class="font-weight-bold" th:text="#{get.post.info}">About post</p>
        <br>
        <p class="font-weight-bold" th:text="#{get.post.id} + ${post.getPostId()}"></p>
        <br>
        <p class="font-weight-bold" th:text="#{get.post.theme} + ${post.getTheme()} + '... '"></p>
        <br>
        <p class="font-weight-bold" th:text="#{get.post.views}"></p>
    </div>
</div>
<footer th:insert="fragments/footer :: footer"></footer>
</body>
</html>