<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{header.authors}">Authors</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header th:insert="fragments/header :: header"></header>
<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <table>
        <tr>
            <td class=" font-weight-bold" th:text="#{auth.username.placeholder}">ID</td>
            <td class=" font-weight-bold" th:text="#{get.users.name}">&nbsp; Authors name</td>
        </tr>

        <tr th:each="blogUser : ${users}">
            <td>
                <a class="font-weight-bold" th:href="'/user/'+${blogUser.getId()}"
                   th:text="${blogUser.getUsername()}"></a>
            </td>
            <td>
                <a class="font-weight-bold" th:href="'/user/'+${blogUser.getId()}"
                   th:text="${blogUser.getFirstName()}"></a>
            </td>

        </tr>
    </table>
</div>
<footer th:insert="fragments/footer :: footer"></footer>
</body>
</html>