<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{header.posts}"> </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="fragments/header :: header"></header>
<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <table>
        <tr>
            <td class="font-weight-bold" th:text="#{get.posts.author}" >Posts author</td>
            <td class="font-weight-bold" th:text="#{create.post.title.placeholder}">&nbsp; Posts title</td>
        </tr>

        <tr th:each="post : ${posts}">
            <td>
                <a class="font-weight-bold" th:href="'/post/'+${post.getPostId()}"
                   th:text="${post.getBlogUser().getFirstName()} +' '+ ${post.getBlogUser().getLastName()}"></a>
            </td>

            <td>
                <a class="font-weight-bold" th:href="'/post/'+${post.getPostId()}"
                   th:text="'&nbsp;' + ${post.getTitle()}"></a>
            </td>
        </tr>
    </table>
</div>
<footer th:insert="fragments/footer :: footer"></footer>
</body>
</html>