<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<header th:insert="fragments/header :: header"></header>
<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <h4><a href="/admin-panel/create-new-category" th:text="#{create.category}"></a></h4>
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <table>
            <tr>
                <td th:text="#{header.authors}"></td>
            </tr>

            <tr th:each="user : ${users}">
                <td>
                    <a th:href="'/users/'+${user.getSlug()}" th:text="${user.getEmail()}"></a>
                </td>
            </tr>
        </table>

        <table>
            <tr>
                <td th:text="#{header.posts}"></td>
            </tr>

            <tr th:each="post : ${posts}">
                <td>
                    <a th:href="${post.getCategory().getSlug()}+'/'+${post.getSlug()}" th:text="${post.getTitle()}"></a>
                </td>
            </tr>
        </table>
    </div>
</div>


<footer th:insert="fragments/footer :: footer"></footer>
</body>
</html>