<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<header th:insert="fragments/header :: header"></header>

<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">

    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <table>
            <tr>
                <td>All Users</td>
            </tr>

            <tr th:each="user : ${users}">
                <td>
                    <a th:href="'/user/'+${user.getId()}" th:text="${user.getEmail()}"></a>
                </td>
            </tr>
        </table>

        <table>
            <tr>
                <td>All Posts</td>
            </tr>

            <tr th:each="post : ${posts}">
                <td>
                    <a th:href="'/post/'+${post.getPostId()}" th:text="${post.getTitle()}"></a>
                </td>
            </tr>
        </table>
    </div>
</div>


<footer th:insert="fragments/footer :: footer"></footer>
</body>
</html>