<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{header.profile}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>
<body>
<header th:insert="fragments/header :: header"></header>

<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div>
        <p>
        <h4 th:text="#{current.email} + ${currentUser.getEmail()}"></h4>
        <p>
        <h4 th:text="#{get.users.name} + ${currentUser.getFirstName()}">&nbsp</h4>
        <h4 th:text="${currentUser.getLastName()}"></h4>

        <p>
        <h4 th:text="#{bio} + ${currentUser.getBio()}" th:if=" ${currentUser.getBio()}!=null"> </h4>
        <h4 th:text="#{bio}" th:if=" ${currentUser.getBio()}==null"></h4>
        <a href="#" th:text="#{add}"></a>
        <p><a href="#" th:text="#{update.profile}"></a>
        <p><a class="py-2 d-none d-md-inline-block" th:text="#{header.create-post}" href="/post/create">Create new post</a>

    </div>
</div>
<footer th:insert="fragments/footer :: footer"></footer>
</body>
</html>