<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{header.profile}"></title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<header th:insert="fragments/header :: header"></header>

<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div>

        <p th:text="#{current.email}+ ': ' + ${currentUser.getEmail()}"></p>

        <p th:text="#{get.users.name} +': '+ ${currentUser.getFirstName()} + ' ' + ${currentUser.getLastName()}"></p>

        <p th:text="#{auth.username.placeholder} +': '+ ${currentUser.getUsername()}"></p>

        <p th:if=" ${currentUser.getBio()}!=null" th:text="#{bio}+ ': ' + ${currentUser.getBio()}"></p>

        <p th:if=" ${currentUser.getBio()}==null" th:text="#{your.thoughts} + ': ' + #{add.bio}"></p>

        <p><a href="#" th:text="#{add}"></a></p>

        <p><a class="py-2 d-none d-md-inline-block" href="#" th:text="#{update.profile}"></a></p>

        <p><a class="py-2 d-none d-md-inline-block" href="/posts/create"
               th:text="#{header.create-post}">Create new post</a>
        </p>

    </div>
</div>
<footer th:insert="fragments/footer :: footer"></footer>
</body>
</html>