<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <p>
    <h4 th:text="${currentUser.getEmail()}"></h4>
    </p>
    <p>
    <h4 th:text="${currentUser.getFirstName()}">&nbsp</h4>
    <h4 th:text="${currentUser.getLastName()}"></h4>
    </p>
    <p>
    <h4 th:text="${currentUser.getStatus()}"></h4>
    </p>
    <p>
    <h4 th:text="${currentUser.getRole()}"></h4>
    </p>
    <p>

</div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>