<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main Blog</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="fragments/header :: header"></header>
<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic">&nbsp;Welcome to our new &nbsp;social product </h1>
        <ul>
            <li class="lead my-3">Here you can post stories from your life , your interests , and events.</li>
            <li class="lead my-3"> Invite your friends .</li>
            <li class="lead my-3"> Write posts. Discuss on different themes.</li>
            <li class="lead my-3"> Here is a free-word territory</li>
            <li class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></li>
            <li class="lead mb-0"><a href="#" class="text-white font-weight-bold" th:text="#{hello}"></a></li>
        </ul>
    </div>
</div>
<footer th:insert="fragments/footer :: footer"></footer>
</body>

</html>