<div th:fragment="header">
    <nav class="site-header sticky-top py-1">
        <div class="container d-flex flex-column flex-md-row justify-content-between">
            <a aria-label="Product" class="py-2" href="/admin-panel">
                <svg class="d-block mx-auto" data-darkreader-inline-fill="" data-darkreader-inline-stroke="" fill="none" focusable="false"
                     height="24" role="img" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                     stroke-width="2" style="--darkreader-inline-fill:none; --darkreader-inline-stroke:currentColor;" viewBox="0 0 24 24"
                     width="24"
                     xmlns="http://www.w3.org/2000/svg">
                    <title>Product</title>
                    <circle cx="12" cy="12" r="10"></circle>
                    <path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path>
                </svg>
            </a>
            <span><a class="py-2 d-none d-md-inline-block" href="?lang=en" th:text="#{header.change.en}">En</a> |
                <a class="py-2 d-none d-md-inline-block" href="?lang=ru" th:text="#{header.change.ru}">Ru</a></span>
            <a class="py-2 d-none d-md-inline-block" href="/" th:text="#{header.main}">Main</a>
            <a class="py-2 d-none d-md-inline-block" href="/blog" th:text="#{auth.masterhead}">Blog</a>
            <a class="py-2 d-none d-md-inline-block" href="/user" th:text="#{header.authors}">All authors</a>
            <a class="py-2 d-none d-md-inline-block" href="/post" th:text="#{header.posts}">All posts</a>
            <a class="py-2 d-none d-md-inline-block" href="/user/mine" th:text="#{header.profile}">My profile</a>
            <form action="/logout" method="POST">
                <button class="btn btn-lg" th:text="#{header.logout.button}" type="submit">Logout</button>
            </form>
        </div>
    </nav>
</div>