<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="Error"></title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header th:insert="fragments/header :: header"></header>
<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <h5 th:align="center">Hey buddy , seems like you are using incorrect link</h5>
    <h5 th:align="center">Try to use another one or find some typo's in this one</h5>

</div>
<footer th:insert="fragments/footer :: footer"></footer>
</body>
</html>
